cat > ensrf.nml << EOF
  &caseinfo
  casename                          =  $casename
  nrt                               =  0
  bnvar                             =  2
  bvarname                          =  bio,  ocn
  ensemble                          =  $ensemble ,
  debug                             =  .True. ,
  /

  &transport_model
  year                              = $SY ,
  month                             = $SM ,
  day                               = $SD ,
  rundays                           = $runlen  ,
  resm                              = $res
  mozartdir                         = $mozartdir
  /
  &background_flux
  priordir                          = 
  resb                              = 3
  bunc                              = 2,  1
  /

  &observations
  issrf                            = 1 ,
  obsdir_srf                       = 0.5 ,
  issat                            = 0,
  obsdir_sat                        =0.0075, 0.005, 0.005,
  /

  &assimilation
  L_scale                           =  20, 20, 20, 20,20,
  L_ratio                           =  1.0, 1.0, 1.0, 1.0,
  opt_dir                           =  
  /

EOF
